
body {
    height:50vh;
}
#mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    position: relative;
    background-color: transparent;
}

.container {
    max-width: 95vw !important;
    margin: 2rem auto;
}


#mainNav .navbar-brand {
    color: #808080;
    font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
}


#mainNav .navbar-nav .nav-item .nav-link {
    font-size: 90%;
    font-weight: 400;
    letter-spacing: 1px;
    color: #000000;
    padding: 1.1em 0.75em !important;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    -webkit-transition: background 0.1s ease-in-out;
    -moz-transition: background 0.1s ease-in-out;
    transition: background 0.1s ease-in-out;
}


.dropdownMenu {
    display: block;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.4s linear;
}

.dropdownMenu a:hover {background-color: #ddd;}

.dropdown:hover .dropdownMenu {display: block;}

.dropdownMenu a {
    padding: 0.5rem 0.6rem;
    text-decoration: none;
    display: block;
}

.dropdownn:hover .dropdownMenu {
    display: block;
    visibility: visible;
    opacity: 1;
    transition-delay:0s;  //set delay here
}

#mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #cecece;
}

@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu{ display: none; }
    .navbar .nav-item:hover .nav-link{ color: #fff;  }
    .navbar .nav-item:hover .dropdown-menu{ display: block; }
    .navbar .nav-item .dropdown-menu{ margin-top:0; }
}
#mainPic {
    height: 100%;
    display: flex;
}
#navbarResponsive ul li.active a {
color: grey !important;
}
.container {
     display: grid;
     grid-gap: 5px;
    column-count:4;
    grid-auto-rows: 75px;
     grid-auto-flow: dense;
 }

.horizontal {
    grid-column: span 1;
    grid-row: span 4;
}

.vertical {
    grid-row: span 7;
}

.big {
    grid-column: span 2;
    grid-row: span 2;
}
.title {
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase ;
    font-weight: 400;
    letter-spacing: 1px;
    color: #000000;
    padding: 1.1em 0.75em !important;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    -webkit-transition: background 0.1s ease-in-out;
    -moz-transition: background 0.1s ease-in-out;
    transition: background 0.1s ease-in-out;
}

.container > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container > a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffeead;
}

.fa-envelope, .fa-phone {
font-size: 2rem !important;
}
.container > .fancybox > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#main {
    position: relative;
    width: 50vw;
    margin: auto;
    display: block;
}
#mainn, #mainnn {
    position: relative;
    width: 5vw;
    margin: auto;
    display: block;
}


#portrait {
    max-width: 26em;
    margin: auto;
}

.fancybox #portrait {
    display: block;
    margin: auto;
}

#aboutme {
    display: block;
    font-family: 'Rubik', sans-serif;
}

#intro {
    margin: auto;
    color: #565656;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}
h3.absolute {
    position: relative; /* Helps us control overlap */
    padding-left: 3rem; /* Creates space for the Phone Icon */
}

h3.absolute:before {
    content: '\f095';
    font-family: fontAwesome;
    position: absolute;
    left: 0; /* Adjust as needed */
    top: 3px; /* Adjust as needed */
}
/* Using float */

h3.float {
    position: relative; /* Helps us control overlap */
    padding-left: 3rem; /* Creates space for the Phone Icon */
}

h3.float:before {
    content: '\f0e0';
    font-family: fontAwesome;
    position: absolute;
    left: 0; /* Adjust as needed */
    top: 3px; /* Adjust as needed */
}

.social-network a.icoInstagram:hover {
    background-color:#e1306c;
}

.social-network a.icoFacebook:hover {
    background-color:#3B5998;
}

.social-network a.icoTwitter:hover {
    background-color:#33ccff;
}

.social-network a.icoInstagram:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
{
    color:#fff;
}

a.socialIcon:hover, .socialHoverClass {
    color:#44BCDD;
}

.social-circle a {
    display:inline-block;
    position:relative;
    margin:0 auto 0 auto;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius:50%;
    text-align:center;
    width: 50px;
    height: 50px;
    font-size:20px;
}

.social-circle a i {
    margin:0;
    line-height:50px;
    text-align: center;
}

.social-circle a:hover i, .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}
.social-circle i {
    color:#fff;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}
@media (min-width: 992px) {

    #mainNav {
        padding-top: 25px;
        padding-bottom: 25px;
        -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
        -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
        transition: padding-top 0.3s, padding-bottom 0.3s;
        border: none;
        background-color: transparent;
    }

    #mainNav .navbar-brand {
        font-size: 1.75em;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }

    #mainNav .navbar-nav .nav-item .nav-link {
        padding: 1.1em 0.75em !important;

    }

    #mainNav.navbar-shrink {
        padding-top: 0;
        padding-bottom: 0;
        background-color: #212529;
    }

    .navbar-toggler:focus,
    .navbar-toggler-icon:focus {
        outline: none;
        box-shadow: none;
    }

    #mainNav.navbar-shrink .navbar-brand {
        font-size: 1.55em;
        padding: 12px 0;
    }
}
.navbar-dark .navbar-toggler {
    border: none;
    color:black !important;
}
